.contentWrap {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.mainWrap {
  position: relative;
  // background: #F9F9F9;
  height: 100vh;
}
.main {
  position: absolute;
  top: 0;
  left: 259px;
  width: 900px;
}
.header {
  height: 85px;

  .roundedBtn {
    padding: 5px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
  }
}
.logo {
  color: #F6CF44;
  font-size: 28px;
  font-weight: 700;
}

.bottomBar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 166px;
  background:  linear-gradient(180deg, #FFE587 0%, #F6CF44 18.45%);
}

// 공통 라운드 버튼
.roundedBtn {
  border-radius: 15.5px;
  background: #F6CF44;
}
