@import './style/util.scss';

.contentWrap {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.mainWrap {
  position: relative;
  height: 100vh;
  background: #F9F9F9;
}
.main {
  z-index: 10;
  @include positionLocation(absolute, 0, null, null, 259px);
  max-width: 900px;
  width: 100%;
}

.header {
  height: 85px;

  .roundedBtn {
    @include roundedBtn;
    padding: 5px 10px;
    @include font(.75rem, #FFF, 500);
  }
}

.introHeader {
  >img {
    display: inline-block;
    margin: auto;
  }
  padding: 46px 50px 42px;
  @include br(6);
  border: 1px solid #EBEBEB;
  background: #FFF;
}

.logo {
  color: var(--mainColor);
  font-size: 28px;
  font-weight: 700;
}


/***************************
*introBody
****************************/
.introBody {
  @include br(6);
  background: #FFFCF4;
  padding: 75px;
  .fieldset {
    margin-bottom: 41px;
  }
  .label {
    @include font(1.375rem, #222, 400);
    margin-right: 50px;
  }
  .inputArea {
    @include size(100%, 52px);
    border: 1px solid #E6E6E6;
    @include br(6);
    padding-left: 19px;
    &::placeholder {
      @include font(1rem, #222, 400);
    }
  }
}

/***************************
*footer
****************************/
.bottomBar {
  @include positionLocation(absolute, null, null, 0, 0);
  @include size(100%, 166px);
  background:  linear-gradient(180deg, #FFE587 0%, var(--mainColor) 18.45%);
}