/*
  ==============================
  font
  ==============================
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*λ…Έν† μ‚°μ¤*/
@font-face {
  font-family: 'Noto SansT';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin.woff2) format('woff2'), url(/fonts/NotoSansKR-Thin.woff) format('woff'), url(/fonts/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto SansL';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2'), url(/fonts/NotoSansKR-Light.woff) format('woff'), url(/fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto SansR';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansKR-Regular.woff2) format('woff2'), url(/fonts/NotoSansKR-Regular.woff) format('woff'), url(/fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto SansM';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSansKR-Medium.woff2) format('woff2'), url(/fonts/NotoSansKR-Medium.woff) format('woff'), url(/fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto SansB';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSansKR-Bold.woff2) format('woff2'), url(/fonts/NotoSansKR-Bold.woff) format('woff'), url(/fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto SansBlack';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NotoSansKR-Black.woff2) format('woff2'), url(/fonts/NotoSansKR-Black.woff) format('woff'), url(/fonts/NotoSansKR-Black.otf) format('opentype');
}

/*Roboto*/
@font-face {
  font-family: 'RobotoT';
  font-style: normal;
  src: url(/fonts/Roboto-Thin.woff) format('woff');
}
@font-face {
  font-family: 'RobotoR';
  font-style: normal;
  src: url(/fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'RobotoM';
  font-style: normal;
  src: url(/fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'RobotoL';
  font-style: normal;
  src: url(/fonts/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'RobotoB';
  font-style: normal;
  src: url(/fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'RobotoBlack';
  font-style: normal;
  src: url(/fonts/Roboto-Black.woff) format('woff');
}

/* Aleo */
@font-face {
  font-family: 'Aleo-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aleo-Regular.woff) format('woff');
}