
$img-path: '../../public/imgs/';
//기본 breakPoint (1920, 768, 375)
$max-xl: 1280px;
$max-lg: 1024px;
$max-md: 768px;
$max-sm: 640px;
$max-ssm: 375px;

//size
@mixin size ($w, $h) {
  width: $w;
  height: $h;
}

//border
@mixin borderSolid($size, $color, $position) {
  #{border}-#{$position}: $size solid $color;
}

//border-radius
@mixin br($num) {
  border-radius: #{$num}px;
}


//위치값 포함 position
@mixin positionLocation ($position, $t, $rgt, $btm, $ltf) {
  position: $position;
  top: $t;
  right: $rgt;
  bottom: $btm;
  left: $ltf;
}

//font
@mixin font($font-size, $color, $font-weight) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

//flex
@mixin flex($flexDisplay, $justify, $align) {
  display: $flexDisplay;
  justify-content: $justify;
  align-items: $align;
}

//margin, padding (margin, top, 값 입력)
@mixin whiteSpace ($name, $location, $value) {
  #{$name}-#{$location}: $value;
}

//nth-child
@mixin nthChild($location, $size) {
  $location: $size;
}

//background-size
@mixin backGround($ti, $bgr, $bgs, $bgp) {
  text-indent: $ti;
  background-repeat: $bgr;
  background-size: $bgs;
  background-position: $bgp;
}

//가상클래스사용
@mixin pseudoClass($display, $w, $h) {
  content: '';
  display: $display;
  width: $w;
  height: $h;
  background-repeat: no-repeat;
  background-position: center;
}

//말줄임
@mixin elip($clamp) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
}

//scroll custom
@mixin scroll {
  &::-webkit-scrollbar {
      width: 11px;
  }
  
  &::-webkit-scrollbar-track {
      background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
      background: #C4C4C4;
      border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
      background: #F7C844;
  }
  
  &::-webkit-scrollbar-button {
      display: none;
  }
}


//공통 form 양식
@mixin formSize ($w, $h, $num) {
  width: $w;
  height: $h;
  border-radius: #{$num}px;
}

//버튼 타입 (white, yellow)
//basic, yellow
@mixin buttonType ($type) {
  @if $type == 'basic' {
    border-radius: 50px;
    border: 1px solid #222;
    color: #222;
  } @else if $type == 'yellow' {
    background: #F6CF44;
    color: #fff;
  }
}